# Not use for the moment
OPENAI_API_KEY=KEY

# https://www.perplexity.ai/account/api/keys
PERPLEXITY_API_KEY=KEY

# DB Variable
DB_HOST=postgres
DB_PORT=5432
DB_NAME=solotext_db
DB_USER=solotext_user
DB_PASSWORD=solotext_password