Unattended-Upgrade::Allowed-Origins {
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}-security";
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}-updates";
};

Unattended-Upgrade::AutoFixInterruptedDpkg "true";
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Automatic-Reboot "false";
Unattended-Upgrade::Automatic-Reboot-Time "02:00";

