PORT=3000
NODE_ENV=development

##############################
# DB environment
##############################

DB_HOST=postgres
DB_PORT=5432
DB_NAME=solotext_db
DB_USER=solotext_user
DB_PASSWORD=solotext_password

##############################
# Stripe
##############################

STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLIC_KEY=pk_live
STRIPE_WEBHOOK_SECRET=whsec

# Use ID price (and not ID product)
STRIPE_PRICE_ID_PREMIUM1000=price_xxxxx
STRIPE_PRICE_ID_PREMIUM3000=price_xxxxx
STRIPE_PRICE_ID_PREMIUM6000=price_xxxxx

# In backend : URL du frontend (pour les redirections après paiement)
FRONTEND_URL=http://51.178.80.14:8080
# FRONTEND_URL=https://votre-domaine.com # En production